
  <p class="text-center flex flex-wrap justify-center">
    {{#if prev}}
      <a href="{{page_url prev}}" class="text-2xl m-1 bg-indigo-300 text-gray-800 py-2 px-4 xl:text-3xl hover:bg-indigo-200">&lt;</a>
    {{/if}}

    {{#each pages}}
      <a href="{{page_url}}" class="text-2xl m-1 bg-indigo-300 text-gray-800 py-2 px-4 xl:text-3xl hover:bg-indigo-200">{{page}}</a>
    {{/each}}

    {{#if next}}
      <a href="{{page_url next}}" class="text-2xl m-1 bg-indigo-300 text-gray-800 py-2 px-4 xl:text-3xl hover:bg-indigo-200">&gt;</a>
    {{/if}}
  </p>

