 
        <section class="bg-gray-600 flex flex-wrap py-6 lg:py-11">

          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/solanin.png" alt="Solanin" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Solanin</h3>
              <p class="text-xl">
                Introducing the Solanin Ghost Theme! 
                This elegantly designed Ghost CMS theme is perfect for showcasing your skills and expertise through a personal portfolio/CV and programming/tech blog.
              </p>
              <br>
              <p class="text-xl">
                With its clean and minimalistic design, Solanin is suitable for both seasoned developers and beginners in the tech industry. 
                It offers a fully responsive layout that adapts seamlessly to all screen sizes, ensuring your content looks great on any device.
              </p>
              <br>
              <a href="https://github.com/DevWebEduardo/Solanin-Ghost-Theme" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
              </a>
            </div>
          </div>
          <!-- Card End -->

          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/tsukiyo.png" alt="Tsukiyo" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Tsukiyo</h3>
              <p class="text-xl">
                Tsukiyo is a comprehensive website designed to aid people in learning the Japanese language. 
                Our platform offers a range of features and mini-applications, such as educational games and utilities, that have been specifically crafted to optimize learning outcomes.
                As the founder and developer of Tsukiyo, this is my flagship project.
              </p>
              <br>
              <p class="text-xl">
                After creating the first version of the site using PHP, I realized the potential for more complex functionalities and subsequently rebuilt the site from the ground up using Django. 
                Today, we are just getting started on this exciting journey, and we look forward to helping learners of all levels achieve their language learning goals through Tsukiyo.
              </p>
              <br>
               <p class="font-bold text-xl">Soon Online</p>
               <!--
               <a href="https://www.tsukiyo.icu" target="_blank">
                 <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">Site</button>
               </a>
               <a href="https://github.com/DevWebEduardo/Tsukiyo" target="_blank">
                 <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
               </a>
               -->
            </div>
          </div>
          <!-- Card End -->

          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/natsu.png" alt="Natsuemi" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Natsuemi</h3>
              <p class="text-xl">
                Introducing Natsuemi, your go-to site for finding cooperative games to play with friends! 
                With a user-friendly interface, it provides a convenient classification system based on platforms and different game genres.
              </p>
              <br>
              <p class="text-xl">
                Not only can you explore and discover exciting cooperative games, but Natsuemi also offers an admin panel for you to easily add new games and create new content categories.
                Stay updated with the latest releases and expand your gaming horizons with Natsuemi!
              </p>
              <br>
              <a href="https://github.com/DevWebEduardo/natsuemi" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
              </a>
            </div>
          </div>
          <!-- Card End -->
          
          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/wakusei.png" alt="Natsuemi" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Wakusei</h3>
              <p class="text-xl">
                Wakusei is a simple WordPress theme designed specifically for travel agencies(Blog). This theme features stunning images of Japan, providing a visually captivating experience for your blog visitors. 
                However, you have the freedom to modify the theme and customize it according to your preferences.
              </p>
              <br>
              <p class="text-xl">
                We welcome any contributions or suggestions to improve Wakusei. If you have ideas for new features, bug fixes, or general enhancements, feel free to contribute by submitting a pull request. 
                Together, we can make Wakusei even better!
              </p>
              <br>
              <a href="https://github.com/DevWebEduardo/Wakusei-Wordpress-Theme" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
              </a>
            </div>
          </div>
          <!-- Card End -->

          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/siren.png" alt="Natsuemi" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Siren</h3>
              <p class="text-xl">
                Siren is a minimalist website designed to make it effortless for Okinawa residents to announce their houses, apartments, and more for sale or rent. 
                With a simple and intuitive approach, Siren provides a user-friendly platform that streamlines the process of showcasing and finding properties within the region.
              </p>
              <br>
              <p class="text-xl">
                The website offers a clean and straightforward interface, ensuring a hassle-free experience for both property owners and potential tenants or buyers. 
                Whether you're looking to advertise your property or searching for your dream home, Siren's minimalist design and easy-to-use features make the entire process seamless and efficient.
              </p>
              <br>
              <a href="https://siren.icu" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">Site</button>
              </a>
              <a href="https://github.com/DevWebEduardo/Siren" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
              </a>
            </div>
          </div>
          <!-- Card End -->
          
          <!-- Card Start -->
          <div class="flex flex-wrap w-11/12 mx-auto bg-gray-200 m-3 rounded break-normal bg-gray-400">
            <div class="w-full justify-center flex items-center lg:w-1/4">
              <img src="/assets/imgs/logos/sakurasou.png" alt="Natsuemi" class="w-2/5 mt-4 h-auto md:w-2/5 lg:h-11/12 lg:w-auto lg:mt-0 lg:p-6 xl:p-8 2xl:p-11">
            </div>
            <div class="text-center w-full p-4 lg:w-3/4">
              <h3 class="text-2xl m-4 text-center 2xl:text-3xl font-medium">Siren</h3>
              <p class="text-xl">
                Sakurasou is an exceptional online platform designed to assist Japanese language learners in their journey towards mastering the Japanese Language Proficiency Test (JLPT). With a comprehensive collection of questions spanning from N5 to N1 levels, Sakurasou provides a powerful resource for individuals seeking to enhance their proficiency in Japanese.
              </p>
              <br>
              <p class="text-xl">
                Licensed under the MPL-2.0 license, the project promotes collaboration and encourages contributors to enhance the codebase and expand the question database. This community-driven approach drives Sakurasou's mission to provide an accurate, up-to-date, and diverse set of questions for JLPT preparation.
              </p>
              <p class="text-xl">
                Sakurasou is built using fundamental web technologies such as JavaScript, HTML, and CSS, Sakurasou doesn't rely on complex frameworks. This design choice ensures simplicity, flexibility, and ease of maintenance. Whether you are an experienced developer or new to the project, the well-structured codebase and clear documentation make the onboarding process smooth and enjoyable.
              </p>
              <br>
              <a href="https://sakurasou.icu" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">Site</button>
              </a>
              <a href="https://github.com/DevWebEduardo/Sakurasou" target="_blank">
                <button class="m-1 bg-gray-600 px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-full xs:mt-3 lg:w-auto lg:mt-1 font-medium">GitHub</button>
              </a>
            </div>
          </div>
          <!-- Card End -->
        </section>
