{{!< default}}

      <section class="bg-gray-200">
        <h3 class="pt-4 px-4 text-2xl xl:text-3xl xl:pt-5 text-center">Eduardo da Silva Queiroz</h3>
        <p class="pt-3 px-4 mb-5 w-11/12 mx-auto text-xl xl:text-2xl text-center xl:w-5/6">Self-motivated programmer with a passion for continuous learning and a commitment to staying up-to-date with the latest trends and technologies in the field.</p>
        <div class="py-4 mx-auto w-11/12 flex flex-wrap justify-center rounded bg-gray-600 xl:w-4/6">
          <div class="w-full flex flex-wrap justify-center">
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">Python</a>
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">PHP</a>
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">TypeScript</a>
          </div>
          <div class="w-full flex flex-wrap justify-center">
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">English - Intermediary</a>
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">Japanese - Basic</a>
            <a class="p-3 m-1 bg-indigo-300 rounded hover:opacity-90">Portuguese - Native</a>
          </div>
        </div>
        <div class=" mx-4 md:mx-6 px-2 sm:px-4 md:px-10 py-4 md:py-10">
          <div class="mb-1 text-base font-medium text-block">NodeJS + Express</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 30%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Tailwind</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 80%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">mongoDB</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 30%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Ghost</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 40%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Docker</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 75%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Docker-Compose</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 65%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Laravel</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 70%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Django</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 70%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Django REST</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 40%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">mySQL</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 70%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Wordpress</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 70%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Vue</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6 mb-4">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 70%"></div>
          </div>
          <div class="mb-1 text-base font-medium text-block">Angular</div>
          <div class="w-full bg-slate-600 rounded h-4 md:h-6">
            <div class="bg-indigo-500 h-4 md:h-6 rounded" style="width: 15%"></div>
          </div>
        </div>
        <div class="mx-auto py-2 w-5/6 text-xl md:text-2xl pb-6">
          <details open>
            <summary class="hover:underline">Formations</summary>
            <ul class="mx-auto py-2 w-11/12">
              <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.cruzeirodosulvirtual.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/CRUZEIRO.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Pos-Graduate Course in Inteligência artificial e Machine Learning.</p></li>
              <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.unopar.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/UNOPAR.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Pos-Graduate Course in Desenvolvimento Web Full-Stack</p></li>
              <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.unopar.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/UNOPAR.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Pos-Graduate Course in Desenvolvimento Front-End</p></li>
              <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://ucb.catolica.edu.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/UCB.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Pos-Graduate Course in Engenharia de software.</p></li>
              <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://faculdadejk.edu.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/JK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">[Tecnólogo] Degree in Análise e Desenvolvimento De Sistemas.</p></li>
            </ul>
        </details>
        <details>
          <summary class="hover:underline">Certifications and Courses</summary>
          <ul class="mx-auto py-2 w-11/12">
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Tailwind CSS do básico ao avançado + Projetos</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Crie APIs REST com Python e Django REST Framework: Essencial</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Programação Web com Python e Django Framework: Essencial</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Vue & Typescript | Vue Js, Type script, JavaScript Projects</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">SQL do básico ao avançado (com MySQL e Projeto)</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">SASS e SCSS do básico ao avançado + Projetos</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">HTML5 e CSS3: Técnicas Avançadas (Com Flexbox e 5 Projetos)</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Amazon Web Services (AWS): Essencial</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Machine Learning e Data Science com Python de A a Z</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de Angular 2 (v15+) Typescript do Básico ao Avançado</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.udemy.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Udemy.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">MongoDB do básico ao avançado (c/ Mongoose e projetos)</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso Design para Web</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso WordPress Completo</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de Laravel Completo</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de Docker Completo</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso JavaScript Completo</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de Figma Completo</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de SoftSkills</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://dankicode.com/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/DK.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso de TypeScript Express</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.ciltaguatinga.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/CILT.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Curso Específico de Língua Japonesa.</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="https://www.microlins.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/Microlins.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Montagem, Configuração e Manutenção de Computadores.</p></li>
            <li class="pb-4 xl:pb-0 flex items-center flex-row"><a href="http://www.etb.com.br/" target="_blank" class="flex-none"><img src="/assets/imgs/CV/ETB.png" class="px-1 w-11 h-auto lg:w-auto"></a><p class="flex-1">Lógica de programação</p></li>
          </details>
      </section>