{{!< default}}

 <section class="bg-gray-200 flex items-center">
        <div class="w-11/12 mx-auto pt-4">
            <div class="flex flex-wrap">
              <div class="w-full lg:w-2/6 xl:w-1/6 flex items-center">
                <img src="/assets/imgs/profile.png" alt="profile-image" class="mx-auto w-3/5 lg:w-full rounded">
              </div>
              <div class="w-full lg:w-4/6 xl:w-5/6">
                <h3 class="text-2xl lg:text-3xl font-medium py-2 text-center">Hello, my name is Eduardo</h3>
                <p class="py-2 text-center text-xl xl:text-2xl">
                  Iam a Developer with portfolio of skills focused on web development.
                </p>
                <p class="py-2 text-center text-xl xl:text-2xl">
                  Feel free to check out my full CV or get in touch on any of the platforms below.
                  <br>
                  <br>
                  Linkedin: <a href="https://linkedin.com/in/DevWeb-Eduardo/" target="_blank" class="hover:underline">linkedin.com/in/devweb-eduardo/</a>
                  <br>
                  GitHub: <a href="https://github.com/DevWebEduardo" target="_blank" class="hover:underline">github.com/DevWebEduardo</a>
                </p>
              </div>
            </div>
          <hr class="w-full m-2 h-2 bg-gray-600 rounded">
          <h3 class="text-center text-2xl lg:text-3xl font-medium py-2">
            Want to say hello? Please don't hesitate to reach out!
            <br>
            I'll do my best to get back to you as soon as possible.
          </h3>
          <form action="https://formspree.io/f/xqkowqze" method="POST" class="text-center">
            <label class="flex flex-wrap justify-center w-full m-2 text-center">
              <p  class="p-2 w-full text-xl xl:text-2xl">Your email:</p>
              <input type="email" name="email" class="w-11/12 lg:w-3/5 p-2 rounded">
            </label>
            <label class="flex flex-wrap justify-center w-full m-2 text-center">
              <p class="p-2 w-full text-xl xl:text-2xl">Subject:</p>
              <input type="text" name="subject" class="w-11/12 lg:w-3/5 p-2 rounded"></input>
            </label>
            <label class="flex flex-wrap pb-2 justify-center w-full m-2 text-center">
              <p class="p-2 w-full text-xl xl:text-2xl">Your message:</p>
              <textarea name="message" class="w-11/12 lg:w-3/5 p-2 rounded"></textarea>
            </label>
            <button type="submit" class="m-6 bg-gray-600 text-xl px-12 py-3 text-gray-100 hover:bg-gray-500 xs:w-4/5 xs:mt-3 lg:w-auto lg:mt-1 font-medium">Send</button>
          </form>
        </div>
      </section>
